<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Creative Responsive Bootstrap Multi-Purpose HTML Template">
  <meta name="keywords"
    content="H2O, Creative, Agency, Portfolio, Freelancer, Shop, Store,Bootstrap, HTML, Template, One page">
  <meta name="author" content="Vadzim Liashkevich">

  <!-- SITE TITLE -->
  <title>DentalClinic - Responsive Clinic HTML Template</title>

  <!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  <!-- =========================
     STYLESHEETS   
============================== -->

  <link rel="stylesheet" type="text/css" href="css/master.css" />
</head>

<body data-spy="scroll" data-target=".navbar">
  <div class="preloader" id="preloader"> <img src="images/preloader.gif" alt="" /> </div>
  <!-- HEADER -->
  <%- include partials/header %>
  <!-- END HEADER -->

  <div id="slider" class="slider">
    <div class="sp-slides">

      <!-- HEADER SLIDER ITEM -->
      <div class="sp-slide"> <img class="sp-image" src="css/images/blank.gif" alt="" data-src="images/slide_01.jpg" />
        <div class="container">
          <h3 class="sp-layer slider-welcome" data-position="leftCenter" data-horizontal="15" data-vertical="-370"
            data-show-transition="left" data-hide-transition="left" data-show-delay="0" data-hide-delay="0"> Welcome
            Dental Clinic </h3>
          <h1 class="sp-layer slider-title" data-position="leftCenter" data-horizontal="15" data-vertical="-230"
            data-show-transition="left" data-hide-transition="left" data-show-delay="200" data-hide-delay="200"> It is
            quite simple! </h1>
          <h2 class="sp-layer slider-subtitle" data-position="leftCenter" data-horizontal="15" data-vertical="-120"
            data-show-transition="left" data-hide-transition="left" data-show-delay="400" data-hide-delay="400"> You
            choose convenient time! </h2>
          <p class="sp-layer slider-text" data-position="leftCenter" data-horizontal="15" data-vertical="80"
            data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="600"> Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br>
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos-<br>
            trud exercitation ullamco laboris. </p>
          <p class="sp-layer slider-button" data-position="leftCenter" data-horizontal="15" data-vertical="300"
            data-show-transition="left" data-hide-transition="left" data-show-delay="800" data-hide-delay="800">
            <!--<a href="#" class="btn btn-primary">READ MORE</a>-->
          </p>
        </div>
      </div>

      <!-- HEADER SLIDER ITEM -->
      <div class="sp-slide"> <img class="sp-image" src="css/images/blank.gif" alt="" data-src="images/slide_02.jpg" />
        <div class="container">
          <h3 class="sp-layer slider-welcome" data-position="leftCenter" data-horizontal="15" data-vertical="-370"
            data-show-transition="left" data-hide-transition="left" data-show-delay="0" data-hide-delay="0"> Healthy
            kids </h3>
          <h1 class="sp-layer slider-title" data-position="leftCenter" data-horizontal="15" data-vertical="-230"
            data-show-transition="left" data-hide-transition="left" data-show-delay="200" data-hide-delay="200"> Our
            concern </h1>
          <h2 class="sp-layer slider-subtitle" data-position="leftCenter" data-horizontal="15" data-vertical="-120"
            data-show-transition="left" data-hide-transition="left" data-show-delay="400" data-hide-delay="400">
            Discount for children $99 </h2>
          <p class="sp-layer slider-text" data-position="leftCenter" data-horizontal="15" data-vertical="80"
            data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="600"> Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br>
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos-<br>
            trud exercitation ullamco laboris. </p>
          <p class="sp-layer slider-button" data-position="leftCenter" data-horizontal="15" data-vertical="300"
            data-show-transition="left" data-hide-transition="left" data-show-delay="800" data-hide-delay="800">
            <!--<a href="#" class="btn btn-primary">READ MORE</a>-->
          </p>
        </div>
      </div>

      <!-- HEADER SLIDER ITEM -->
      <div class="sp-slide"> <img class="sp-image" src="css/images/blank.gif" alt="" data-src="images/slide_03.jpg" />
        <div class="container">
          <h3 class="sp-layer slider-welcome" data-position="leftCenter" data-horizontal="15" data-vertical="-370"
            data-show-transition="left" data-hide-transition="left" data-show-delay="0" data-hide-delay="0"> A beautiful
            smile is our task! </h3>
          <h1 class="sp-layer slider-title" data-position="leftCenter" data-horizontal="15" data-vertical="-230"
            data-show-transition="left" data-hide-transition="left" data-show-delay="200" data-hide-delay="200"> Dental
            services </h1>
          <h2 class="sp-layer slider-subtitle" data-position="leftCenter" data-horizontal="15" data-vertical="-120"
            data-show-transition="left" data-hide-transition="left" data-show-delay="400" data-hide-delay="400"> Healthy
            teeth - healthy body </h2>
          <p class="sp-layer slider-text" data-position="leftCenter" data-horizontal="15" data-vertical="80"
            data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="600"> Lorem
            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br>
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos-<br>
            trud exercitation ullamco laboris. </p>
          <p class="sp-layer slider-button" data-position="leftCenter" data-horizontal="15" data-vertical="300"
            data-show-transition="left" data-hide-transition="left" data-show-delay="800" data-hide-delay="800">
            <!--<a href="#" class="btn btn-primary">READ MORE</a>-->
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- =========================
     END HEADER SLIDER
============================== -->

  <!-- =========================
     SERVICES
============================== -->
  <div class="services" id="services">

    <!-- SERVICES ITEM -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 service bg-primary-2"
      onclick="javascript:location.href='services.html';" style="cursor:pointer">
      <div class="service-icon"> <i class="flaticon-medical-1"></i> </div>
      <div class="service-title">
        <h3>teeth whitening</h3>
      </div>
      <div class="service-text"> Tooth whitening can be a very effective way of lightening the natural colour of your
        teeth without removing any of the tooth surface. </div>
    </div>

    <!-- SERVICES ITEM -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 service bg-child-2"
      onclick="javascript:location.href='services.html';" style="cursor:pointer">
      <div class="service-icon"> <i class="flaticon-medical-2"></i> </div>
      <div class="service-title">
        <h3>implants</h3>
      </div>
      <div class="service-text"> Dental implants may be an option for people who have lost a tooth or teeth due to
        periodontal disease, an injury, or some other reason. </div>
    </div>

    <!-- SERVICES ITEM -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 service bg-child-3"
      onclick="javascript:location.href='services.html';" style="cursor:pointer">
      <div class="service-icon"> <i class="flaticon-tool"></i> </div>
      <div class="service-title">
        <h3>extractions</h3>
      </div>
      <div class="service-text"> In orthodontics if the teeth are crowded, sound teeth may be extracted to create space
        so the rest of the teeth can be straightened. </div>
    </div>

    <!-- SERVICES ITEM -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 service bg-child-4"
      onclick="javascript:location.href='services.html';" style="cursor:pointer">
      <div class="service-icon"> <i class="flaticon-medical"></i> </div>
      <div class="service-title">
        <h3>gum disease</h3>
      </div>
      <div class="service-text"> Plaque is the primary cause of gum disease. However, other factors can contribute to
        periodontal disease. </div>
    </div>
  </div>
  <!-- =========================
     END SERVICES
============================== -->

  <!-- =========================
     ABOUT
============================== -->
  <div class="about">
    <div class="container">
      <div class="row">

        <!-- ABOUT TEXT -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-text">
          <h2 class="section-title">
            <span class="bold700">
              ABOUT
            </span>
            OUR CLINIC</h2>
          <p>We provide team-based, comprehensive dental care for children and adults, including patients of all ages
            who are anxious or have an underlying developmental or medical condition that may add complexity to the
            management of their oral health.</p>
          <ul class="text-list">
            <li>General Dentistry - preventative and restorative dental care.</li>
            <li>Specialized dental care to straighten crooked teeth in children and adults. </li>
            <li>Treat diseases of the gums and the placement of dental implants.</li>
          </ul>
          <p>We are committed to helping you maintain your oral health as an integral part of your overall health and
            wellness. <a href="aboutus.html">Read more &gt;</a></p>
        </div>

        <!-- ABOUT BACKGROUND -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-bg"> </div>
      </div>
    </div>
  </div>
  <!-- =========================
     END ABOUT
============================== -->

  <!-- =========================
     CERTIFICATES
============================== -->
  <div class="certs">
    <div class="container">
      <div class="row">
        <h3>Certificates of completion</h3>
        <div class="certs-container">
          <div class="owl-certs" id="owl-certs">
            <!-- CERTIFICATES ITEM -->
            <div class="certs-item"> <a href="images/cert1-b.jpg" class="fancybox"><img src="images/cert1.jpg"
                  alt="" /></a> </div>
            <!-- CERTIFICATES ITEM -->
            <div class="certs-item"> <a href="images/cert2-b.jpg" class="fancybox"><img src="images/cert2.jpg"
                  alt="" /></a> </div>
            <!-- CERTIFICATES ITEM -->
            <div class="certs-item"> <a href="images/cert3-b.jpg" class="fancybox"><img src="images/cert3.jpg"
                  alt="" /></a> </div>
            <!-- CERTIFICATES ITEM -->
            <div class="certs-item"> <a href="images/cert4-b.jpg" class="fancybox"><img src="images/cert4.jpg"
                  alt="" /></a> </div>
            <!-- CERTIFICATES ITEM -->
            <div class="certs-item"> <a href="images/cert5-b.jpg" class="fancybox"><img src="images/cert5.jpg"
                  alt="" /></a> </div>
            <!-- CERTIFICATES ITEM -->
            <div class="certs-item"> <a href="images/cert1-b.jpg" class="fancybox"><img src="images/cert1.jpg"
                  alt="" /></a> </div>
            <!-- CERTIFICATES ITEM -->
            <div class="certs-item"> <a href="images/cert2-b.jpg" class="fancybox"><img src="images/cert2.jpg"
                  alt="" /></a> </div>
          </div>
          <!-- CERTIFICATES BUTTONS -->
          <div class="carousel-btn carousel-next" id="next-certs"><i class="fa fa-angle-right"></i></div>
          <div class="carousel-btn carousel-prev" id="prev-certs"><i class="fa fa-angle-left"></i></div>
        </div>
      </div>
    </div>
  </div>
  <!-- =========================
     END CERTIFICATES
============================== -->



  <!-- =========================
    BLOG
============================== -->
  <div class="blog">
    <div class="container">
      <div class="row">
        <h2 class="section-title">
          <span class="bold700">
            NEWS
          </span>
        </h2>
        <!--<p class="section-subtitle">We will always keep you informed about fresh news of our Dental clinic. Moreover, you will find useful articles about dental care,<br>
        the newest technologies in the treatment, oral hygiene, and interesting events related to dentistry and medicine in general. </p>-->
        <div class="blog-container">
          <div class="owl-blog" id="owl-blog">

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image"> <img src="images/blog1.jpg" alt="" />
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
              <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 7</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html">The Importance of Routine<br>
                    Dental Exams</a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text">Dental implant placement is no longer performed only by oral surgeons and
                periodontists; general dentists are also increasingly providing difficult surgical implant services.
                Dental implants may be used to replace single teeth, replace multiple teeth.</div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image"> <img src="images/blog2.jpg" alt="" />
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
              <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 12</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html">We are giving each of our patients<br>
                    the healthy smile!</a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text">Dental implant placement is no longer performed only by oral surgeons and
                periodontists; general dentists are also increasingly providing difficult surgical implant services.
                Dental implants may be used to replace single teeth, replace multiple teeth.</div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image"> <img src="images/blog3.jpg" alt="" />
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
              <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 7</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html">Protect Your Child's Teeth with Dental Sealants</a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text">Dental implant placement is no longer performed only by oral surgeons and
                periodontists; general dentists are also increasingly providing difficult surgical implant services.
                Dental implants may be used to replace single teeth, replace multiple teeth.</div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image"> <img src="images/blog2.jpg" alt="" />
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
              <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 12</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html">We are giving each of our patients<br>
                    the healthy smile!</a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text">Dental implant placement is no longer performed only by oral surgeons and
                periodontists; general dentists are also increasingly providing difficult surgical implant services.
                Dental implants may be used to replace single teeth, replace multiple teeth.</div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>
          </div>
          <!-- BLOG BUTTONS -->
          <div class="carousel-btn carousel-next" id="next-blog"><i class="fa fa-angle-right"></i></div>
          <div class="carousel-btn carousel-prev" id="prev-blog"><i class="fa fa-angle-left"></i></div>
        </div>
      </div>
    </div>
  </div>
  <!-- =========================
    END BLOG
============================== -->


  <!-- =========================
    FOOTER
============================== -->
  <%- include partials/footer %>
  <!-- =========================
    END FOOTER
============================== -->

  <%- include partials/bookform %>

  <div class="totop" id="totop"> <i class="fa fa-angle-up"></i> </div>

  <!-- =========================
    COLOR SWITHER
============================== -->
  <!--<div class="color-sw-open" id="color-sw-open"> <i class="fa fa-gear"></i> </div>
<div class="color-sw" id="color-sw">
  <div class="color-sw-header"> Style switcher
    <span class="color-sw-close" id="color-sw-close">
      <i class="fa fa-close"></i>
    </span>
  </div>
  <div class="color-sw-body">
    <p>Choose color style</p>
    <div class="color-sw-item active" id="blue">
      <div></div>
    </div>
    <div class="color-sw-item" id="violet">
      <div></div>
    </div>
    <div class="color-sw-item" id="red">
      <div></div>
    </div>
    <div class="color-sw-item" id="green">
      <div></div>
    </div>
  </div>
</div>-->
  <!-- =========================
    END COLOR SWITHER
============================== -->

  <link rel="stylesheet" type="text/css" href="css/responsive.css" />

  <!-- =========================
     SCRIPTS   
============================== -->
  <!-- JQUERY -->

  <!-- GOOGLE MAPS -->

  <!-- MY JAVASCRIPT -->
  <%- include resources/javascript %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


</body>

</html>