<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Creative Responsive Bootstrap Multi-Purpose HTML Template">
  <meta name="keywords"
    content="H2O, Creative, Agency, Portfolio, Freelancer, Shop, Store,Bootstrap, HTML, Template, One page">
  <meta name="author" content="Vadzim Liashkevich">

  <!-- SITE TITLE -->
  <title>DentalClinic - Responsive Clinic HTML Template</title>

  <!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  <!-- =========================
     STYLESHEETS   
============================== -->

  <link rel="stylesheet" type="text/css" href="css/master.css" />
</head>

<body data-spy="scroll" data-target=".navbar">
  <div class="preloader" id="preloader"> <img src="images/preloader.gif" alt="" /> </div>
  <!-- HEADER -->
  <%- include partials/header %>
  <!-- END HEADER -->
  <!-- =========================

  <!-- =========================
    FOOTER
============================== -->
  <%- include partials/footer %>
  <!-- =========================
    END FOOTER
============================== -->

  <!-- =========================
    POPUP FORMS
============================== -->
  <!--<div class="bookform bookform-1" id="bookform1">
  <div class="bookform-left">
    <h2 class="section-title">
      <span class="bold700">
        BOOK APPOINTMENT
      </span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item f-doctor">
          <select id="form-doctor" class="form-doctor" name="form-doctor">
            <option value="1" selected="selected">Select doctor</option>
            <option value="2">Arnie Alban</option>
            <option value="3">Wyatt Esmond</option>
            <option value="4">Dustin Callahan</option>
            <option value="5">Kristin Weaver</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item name">
          <input type="text" name="name1" id="name1" data-validation="required" placeholder="Your name" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item phone">
          <input type="text" name="phone1" id="phone1" data-validation="required" placeholder="Phone" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item email">
          <input type="text" name="email1" id="email1" placeholder="E-mail" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item date">
          <input type="text" class="datepicker-f" id="datepicker1" name="date1" data-validation="required" placeholder="Date" />
          <div class="help help-sm help-red">!</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item time-f">
          <input type="text" class="timepicker-f" id="timepicker1" name="time1" data-validation="required" placeholder="Time" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <textarea name="message1" id="message1" placeholder="Your message.."></textarea>
        </div>
      </div>
      <div class="row" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item honeypot">
          <label class="fl_label">Honeypot:</label>
          <input type="text" name="last" value="" class="form-control fl_input">
        </div>
      </div>
      <div class="row latest-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <button class="btn btn-primary">
            SUBMIT
          </button>
          <a class="fb-close" id="fb-close1" href="javascript:jQuery.fancybox.close();">Cancel</a> </div>
      </div>
    </form>
  </div>
  <div class="bookform-right">
    <div class="bookform-right-info-1">
      <h5>Please select a doctor</h5>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
    <div class="bookform-right-info-2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
  </div>
</div>
<div class="bookform" id="bookform2">
  <div class="bookform-left">
    <h2 class="section-title">
      <span class="bold700">
        BOOK APPOINTMENT
      </span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item name">
          <input type="text" name="name2" id="name2" data-validation="required" placeholder="Your name" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item phone">
          <input type="text" name="phone2" id="phone2" data-validation="required" placeholder="Phone" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item email">
          <input type="text" name="email2" id="email2" placeholder="E-mail" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item date">
          <input type="text" class="datepicker-f" id="datepicker2" name="date2" data-validation="required" placeholder="Date" />
          <div class="help help-sm help-red">!</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item time-f">
          <input type="text" class="timepicker-f" id="timepicker2" name="time2" data-validation="required" placeholder="Time" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <textarea name="message2" id="message2" placeholder="Your message.."></textarea>
        </div>
      </div>
      <div class="row" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item honeypot">
          <label class="fl_label" >Honeypot:</label>
          <input type="text" name="last" value="" class="form-control fl_input">
        </div>
      </div>
      <div class="row latest-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <button class="btn btn-primary">
            SUBMIT
          </button>
          <a class="fb-close" id="fb-close2" href="javascript:jQuery.fancybox.close();">Cancel</a> </div>
      </div>
    </form>
  </div>
  <div class="bookform-right">
    <div class="doctor-info">
      <div class="doctor-info-image"> <img src="images/doctor1.jpg" alt="" /> </div>
      <div class="doctor-info-name"> Wyatt Esmond </div>
      <div class="doctor-info-position"> General Dentist </div>
      <div class="doctor-info-hours-title"> OPENING HOURS </div>
      <div class="doctor-info-hours">
        <div class="doctor-info-hours-clock"> <img src="images/clock.png" alt="" /> </div>
        <div class="doctor-info-hours-left"> Monday<br>
          Tuesday<br>
          Wednesday<br>
          Thursday<br>
          Friday<br>
          Saturday<br>
          Sunday </div>
        <div class="doctor-info-hours-right"> Closed<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          Closed </div>
      </div>
      <div class="doctor-info-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
    </div>
  </div>
</div>
<div class="bookform" id="bookform3">
  <div class="bookform-left">
    <h2 class="section-title">
      <span class="bold700">
        BOOK APPOINTMENT
      </span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item name">
          <input type="text" name="name3" id="name3" data-validation="required" placeholder="Your name" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item phone">
          <input type="text" name="phone3" id="phone3" data-validation="required" placeholder="Phone" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item email">
          <input type="text" name="email3" id="email3" placeholder="E-mail" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item date">
          <input type="text" class="datepicker-f" id="datepicker3" name="date3" data-validation="required" placeholder="Date" />
          <div class="help help-sm help-red">!</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item time-f">
          <input type="text" class="timepicker-f" id="timepicker3" name="time3" data-validation="required" placeholder="Time" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <textarea name="message3" id="message3" placeholder="Your message.."></textarea>
        </div>
      </div>
      <div class="row" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item honeypot">
          <label class="fl_label" >Honeypot:</label>
          <input type="text" name="last" value="" class="form-control fl_input">
        </div>
      </div>
      <div class="row latest-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <button class="btn btn-primary">
            SUBMIT
          </button>
          <a class="fb-close" id="fb-close3" href="javascript:jQuery.fancybox.close();">Cancel</a> </div>
      </div>
    </form>
  </div>
  <div class="bookform-right">
    <div class="doctor-info">
      <div class="doctor-info-image"> <img src="images/doctor2.jpg" alt="" /> </div>
      <div class="doctor-info-name"> Arnie Alban </div>
      <div class="doctor-info-position"> Pedodontics </div>
      <div class="doctor-info-hours-title"> OPENING HOURS </div>
      <div class="doctor-info-hours">
        <div class="doctor-info-hours-clock"> <img src="images/clock.png" alt="" /> </div>
        <div class="doctor-info-hours-left"> Monday<br>
          Tuesday<br>
          Wednesday<br>
          Thursday<br>
          Friday<br>
          Saturday<br>
          Sunday </div>
        <div class="doctor-info-hours-right"> Closed<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          Closed </div>
      </div>
      <div class="doctor-info-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
    </div>
  </div>
</div>
<div class="bookform" id="bookform4">
  <div class="bookform-left">
    <h2 class="section-title">
      <span class="bold700">
        BOOK APPOINTMENT
      </span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item name">
          <input type="text" name="name4" id="name4" data-validation="required" placeholder="Your name" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item phone">
          <input type="text" name="phone4" id="phone4" data-validation="required" placeholder="Phone" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item email">
          <input type="text" name="email4" id="email4" placeholder="E-mail" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item date">
          <input type="text" class="datepicker-f" id="datepicker4" name="date4" data-validation="required" placeholder="Date" />
          <div class="help help-sm help-red">!</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item time-f">
          <input type="text" class="timepicker-f" id="timepicker4" name="time4" data-validation="required" placeholder="Time" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <textarea name="message4" id="message4" placeholder="Your message.."></textarea>
        </div>
      </div>
      <div class="row" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item honeypot">
          <label class="fl_label" >Honeypot:</label>
          <input type="text" name="last" value="" class="form-control fl_input">
        </div>
      </div>
      <div class="row latest-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <button class="btn btn-primary">
            SUBMIT
          </button>
          <a class="fb-close" id="fb-close4" href="javascript:jQuery.fancybox.close();">Cancel</a> </div>
      </div>
    </form>
  </div>
  <div class="bookform-right">
    <div class="doctor-info">
      <div class="doctor-info-image"> <img src="images/doctor3.jpg" alt="" /> </div>
      <div class="doctor-info-name"> Dustin Callahan </div>
      <div class="doctor-info-position"> Ortodontist </div>
      <div class="doctor-info-hours-title"> OPENING HOURS </div>
      <div class="doctor-info-hours">
        <div class="doctor-info-hours-clock"> <img src="images/clock.png" alt="" /> </div>
        <div class="doctor-info-hours-left"> Monday<br>
          Tuesday<br>
          Wednesday<br>
          Thursday<br>
          Friday<br>
          Saturday<br>
          Sunday </div>
        <div class="doctor-info-hours-right"> Closed<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          Closed </div>
      </div>
      <div class="doctor-info-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
    </div>
  </div>
</div>
<div class="bookform" id="bookform5">
  <div class="bookform-left">
    <h2 class="section-title">
      <span class="bold700">
        BOOK APPOINTMENT
      </span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item name">
          <input type="text" name="name5" id="name5" data-validation="required" placeholder="Your name" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item phone">
          <input type="text" name="phone5" id="phone5" data-validation="required" placeholder="Phone" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item email">
          <input type="text" name="email5" id="email5" placeholder="E-mail" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item date">
          <input type="text" class="datepicker-f" id="datepicker5" name="date5" data-validation="required" placeholder="Date" />
          <div class="help help-sm help-red">!</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item time-f">
          <input type="text" class="timepicker-f" id="timepicker5" name="time5" data-validation="required" placeholder="Time" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <textarea name="message5" id="message5" placeholder="Your message.."></textarea>
        </div>
      </div>
      <div class="row" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item honeypot">
          <label class="fl_label" >Honeypot:</label>
          <input type="text" name="last" value="" class="form-control fl_input">
        </div>
      </div>
      <div class="row latest-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <button class="btn btn-primary">
            SUBMIT
          </button>
          <a class="fb-close" id="fb-close5" href="javascript:jQuery.fancybox.close();">Cancel</a> </div>
      </div>
    </form>
  </div>
  <div class="bookform-right">
    <div class="doctor-info">
      <div class="doctor-info-image"> <img src="images/doctor4.jpg" alt="" /> </div>
      <div class="doctor-info-name"> Kristin Weaver </div>
      <div class="doctor-info-position"> Hygienist </div>
      <div class="doctor-info-hours-title"> OPENING HOURS </div>
      <div class="doctor-info-hours">
        <div class="doctor-info-hours-clock"> <img src="images/clock.png" alt="" /> </div>
        <div class="doctor-info-hours-left"> Monday<br>
          Tuesday<br>
          Wednesday<br>
          Thursday<br>
          Friday<br>
          Saturday<br>
          Sunday </div>
        <div class="doctor-info-hours-right"> Closed<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          Closed </div>
      </div>
      <div class="doctor-info-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
    </div>
  </div>
</div>
<div class="bookform" id="bookform6">
  <div class="bookform-left">
    <h2 class="section-title">
      <span class="bold700">
        BOOK APPOINTMENT
      </span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item name">
          <input type="text" name="name6" id="name6" data-validation="required" placeholder="Your name" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item phone">
          <input type="text" name="phone6" id="phone6" data-validation="required" placeholder="Phone" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item email">
          <input type="text" name="email6" id="email6" placeholder="E-mail" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item date">
          <input type="text" class="datepicker-f" id="datepicker6" name="date6" data-validation="required" placeholder="Date" />
          <div class="help help-sm help-red">!</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item time-f">
          <input type="text" class="timepicker-f" id="timepicker6" name="time6" data-validation="required" placeholder="Time" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <textarea name="message6" id="message6" placeholder="Your message.."></textarea>
        </div>
      </div>
      <div class="row" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item honeypot">
          <label class="fl_label" >Honeypot:</label>
          <input type="text" name="last" value="" class="form-control fl_input">
        </div>
      </div>
      <div class="row latest-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <button class="btn btn-primary">
            SUBMIT
          </button>
          <a class="fb-close" id="fb-close6" href="javascript:jQuery.fancybox.close();">Cancel</a> </div>
      </div>
    </form>
  </div>
  <div class="bookform-right">
    <div class="doctor-info">
      <div class="doctor-info-image"> <img src="images/doctor5.jpg" alt="" /> </div>
      <div class="doctor-info-name"> Leslie Adams </div>
      <div class="doctor-info-position"> Prosthodontics </div>
      <div class="doctor-info-hours-title"> OPENING HOURS </div>
      <div class="doctor-info-hours">
        <div class="doctor-info-hours-clock"> <img src="images/clock.png" alt="" /> </div>
        <div class="doctor-info-hours-left"> Monday<br>
          Tuesday<br>
          Wednesday<br>
          Thursday<br>
          Friday<br>
          Saturday<br>
          Sunday </div>
        <div class="doctor-info-hours-right"> Closed<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          9:00 am - 7:15 pm<br>
          Closed </div>
      </div>
      <div class="doctor-info-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
    </div>
  </div>
</div>-->
  <!-- =========================
    END POPUP FORMS
============================== -->

  <div class="totop" id="totop"> <i class="fa fa-angle-up"></i> </div>

  <!-- =========================
    COLOR SWITHER
============================== -->
  <!--<div class="color-sw-open" id="color-sw-open"> <i class="fa fa-gear"></i> </div>
<div class="color-sw" id="color-sw">
  <div class="color-sw-header"> Style switcher
    <span class="color-sw-close" id="color-sw-close">
      <i class="fa fa-close"></i>
    </span>
  </div>
  <div class="color-sw-body">
    <p>Choose color style</p>
    <div class="color-sw-item active" id="blue">
      <div></div>
    </div>
    <div class="color-sw-item" id="violet">
      <div></div>
    </div>
    <div class="color-sw-item" id="red">
      <div></div>
    </div>
    <div class="color-sw-item" id="green">
      <div></div>
    </div>
  </div>
</div>-->
  <!-- =========================
    END COLOR SWITHER
============================== -->

  <link rel="stylesheet" type="text/css" href="css/responsive.css" />

  <!-- =========================
     SCRIPTS   
============================== -->
  <!-- JQUERY -->
  <script src="js/jquery-2.2.0.min.js"></script>

  <!-- BOOTSTRAP -->
  <script src="js/bootstrap.min.js"></script>

  <!-- SLIDER PRO -->
  <script src="js/jquery.sliderPro.min.js"></script>

  <!-- LIGHTBOX -->
  <script src="js/jquery.fancybox.pack.js"></script>

  <!-- CAROUSEL -->
  <script src="js/owl.carousel.js"></script>

  <!-- STAR RATING -->
  <script src="js/jquery.barrating.min.js"></script>

  <!-- ISOTOPE FILTER -->
  <script src="js/isotope.pkgd.min.js"></script>

  <!-- SCROLLSPY -->
  <script src="js/scrollspy.js"></script>

  <!-- DATEPICKER -->
  <script src="js/moment.js"></script>
  <script src="js/bootstrap-datetimepicker.min.js"></script>

  <!-- FORM VALIDATOR -->
  <script src="js/jquery.form-validator.js"></script>

  <!-- SELECT STYLING -->
  <script src="js/jquery.selectBox.js"></script>

  <!-- MATCHHEIGHT -->
  <script src="js/jquery.matchHeight.js"></script>

  <!-- JQUERY FORM -->
  <script src="js/jquery.form.js"></script>

  <!-- IMAGES LOADED -->
  <script src="js/imagesloaded.pkgd.min.js"></script>

  <!-- CUSTOM SCRIPT -->
  <script src="js/theme.js"></script>

  <!-- GOOGLE MAPS -->


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


</body>

</html>