
<!-- =========================
    FOOTER
============================== -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-matchheight">
        <div class="row"> 
          
          <!-- FOOTER ITEM 1 -->
          <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-item footer-item-1">
            <h3 class="footer-title footer-title-line"><i class="fa fa-twitter"></i> LATEST TWEETS</h3>
            <div class="tweet">
              <div class="tweet-login"> <a href="#">@DentalClinic</a> </div>
              <div class="tweet-text"> Lorem ipsum dolro lobortis quobortisnissim pulvinar ac Lorem. </div>
              <div class="tweet-date"> 03.10.2016 </div>
            </div>
            <div class="tweet">
              <div class="tweet-login"> <a href="#">@DentalClinic</a> </div>
              <div class="tweet-text"> Lorem ipsum dolro lobortis quobortisnissim pulvinar ac Lorem. </div>
              <div class="tweet-date"> 03.10.2016 </div>
            </div>
            <div class="tweet">
              <div class="tweet-login"> <a href="#">@DentalClinic</a> </div>
              <div class="tweet-text"> Lorem ipsum dolro lobortis quobortisnissim pulvinar ac Lorem. </div>
              <div class="tweet-date"> 03.10.2016 </div>
            </div>
          </div> -->
          
          <!-- FOOTER ITEM 2 -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-item footer-item-2">
            <!-- <h3 class="footer-title footer-title-line"><i class="fa fa-clock-o"></i> OPENING HOURS</h3>
            <div class="opening-left"> Monday<br>
              Tuesday<br>
              Wednesday<br>
              Thursday<br>
              Friday<br>
              Saturday<br>
              Sunday </div>
            <div class="opening-right"> Closed<br>
              9:00 am - 7:15 pm<br>
              9:00 am - 7:15 pm<br>
              9:00 am - 7:15 pm<br>
              9:00 am - 7:15 pm<br>
              9:00 am - 7:15 pm<br>
              Closed </div> -->
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
            <div> Copyright &copy; 2019 by <a href="http://fvdthemes.com/" target="_blank">VIETDENT</a> </div>
          </div>
        </div>
      </div>
      
      <!-- FOOTER ITEM 3 -->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footer-item footer-item-3 footer-matchheight" id="footer-item-3">
        <h3 class="footer-title" style="text-transform: uppercase"><i class="fa fa-map-marker"></i> <%= footer.contact %> </h3>
        <div class="footer-item-3-phone"> <i class="fa fa-phone"></i> <%= footer.phoneNumber %> </div>
        <div class="footer-item-3-location"> <i class="flaticon-navigation-arrow"></i> <%= footer.addressText %> </div>
        <div class="footer-item-3-mail"> <i class="fa fa-envelope"></i> <a href="#"><%= footer.email %>></a> </div>
        <!-- <div class="footer-item-3-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-skype"></i></a> </div> -->
      </div>
      
      <!-- FOOTER ITEM 4 -->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footer-item footer-item-4 footer-matchheight" id="footer-item-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.692984274129!2d106.67248131480062!3d10.758127992333941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752efd867805ff%3A0x3db6eb68eb128ecc!2sNha%20Khoa%20VIETDENT!5e0!3m2!1svi!2s!4v1573709290952!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>
<!-- =========================
    END FOOTER
============================== --> 