<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>test email contact</title>
</head>
<body>
  <b>Thông tin liên hệ:</b>
  <p><b>Tên: </b> quang </p>
  <p><b>Số điện thoại: </b> 0981864890 </p>
  <p><b>Email: </b> quang@gmail.com </p>
  <p><b>Tin nhắn: </b> nội dung nè </p>

</body>
</html>